/* styles.css */
/*.backgroundImage {
	background-image: url(../img/concealer.png);
	width: 435px;
	height: 700px;
	margin: 96px auto;
	margin-right: 100px;
}
.backgroundImage:hover {
	background-image: url(../img/bunny.png); 
	width: 252px;
	height: 200px;
}*/
.img_conceal {
	/*background-image: url(../img/concealer.png);*/
	float: right;
	width: 35%;
	bottom: 50%;
	background-color: brown;
}
.pos_center {
	position: absolute;
	width: 70%;
	top: 10%;
	left: 13%;
	background-color: black;
	padding: 12px;
}
/*.img_conceal:hover {
	background-image: url(../img/bunny.png);
	float: right;
	width: 20%; 
}*/
body {
	background-color: rgb(122, 10, 10);
	font-family: Arial, Helvetica, sans-serif;
}
.body {
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	color: rgb(0, 0, 0);
	font-size: 65px;
	text-align: center;
	margin-top: 20px;
	margin-block: 0px;
	font-family: "Cinzel", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: italic;
	background-color: aliceblue;
}
.text {
	margin: 0px auto;
	text-align: left;
	margin-block: 0px;
	font-family: "Cinzel", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: bold;
	margin-top: 140px;
	margin-bottom: -90px;
	margin-left: 20px;
	font-size: 35px;
	color: rgb(255, 4, 0);
}
.text * {
	display: inline-block;
	width: 48%;
	margin: 0;
	padding: 0;
	text-align: left auto;
}
div {
	width: 50%;
	margin: 9px auto;
	margin-left: 20px;
	margin-block: -90px;
	margin-top: 140px;
	text-align: left;
	color: rgb(0, 0, 0);
	font-size: 35px;
	font-family: "Cinzel", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: italic;
	background-color: rgb(255, 255, 255);
}
p {
	color: rgb(255, 255, 255);
	font-size: 40px;
	text-align: center;
	margin-block: 0px;
	margin-top: 0px;
	font-family: "Cinzel", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: italic;
	background-color: rgb(0, 0, 0);
}
h2 {
	color: rgb(255, 255, 255);
	font-size: 40px;
	text-align: left auto; 
	font-family: "Cinzel", sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: italic;
	margin-left: 0px;
	margin-block: -100px;
}
/*h3 {
	color: aliceblue;
	font-size: 40px;
	text-align: center; 
	font-family: "Cinzel", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: italic; 
}*/
h3 a:link, 
h3 a:visited {
	color: blueviolet;
	text-decoration: none;
}
h3 a:hover {
	color: aliceblue;
}
* {
	font-family: Arial;
}