/* styles.css */
.img_conceal {
	float: right;
	width: 35%;
	bottom: 50%;
	background-color: brown;
}
/*Positions the text and the concealer image */
.pos_center {
	position: absolute;
	width: 70%;
	top: 10%;
	left: 13%;
	background-color: black;
	padding: 12px;
}
body {
	background-color: rgb(122, 10, 10);
	font-family: Arial, Helvetica, sans-serif;
}
.body {
	font-family: Arial, Helvetica, sans-serif;
}
a {
	color: rgb(255, 0, 0);
	font-size: 20px;
	font-family: "Cinzel", sans-serif;
	font-style: bold;
	left: 100px;
}
/* L'oreal Heading*/
h1 {
	color: rgb(0, 0, 0);
	font-size: 65px;
	text-align: center;
	margin-top: 20px;
	margin-block: 0px;
	font-family: "Cinzel", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: italic;
	background-color: aliceblue;
}
/* Controls the hovering text (imperfection/cruelty part) */
.text {
	margin: 0px auto;
	text-align: left;
	margin-block: 0px;
	font-family: "Cinzel", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: bold;
	margin-top: 140px;
	margin-bottom: -90px;
	margin-left: 20px;
	font-size: 25px;
	color: rgb(255, 4, 0);
}
.text * {
	display: inline-block;
	width: 48%;
	margin: 0;
	padding: 0;
	text-align: left auto;
}
/* Center text */
div {
	width: 50%;
	margin: 9px auto;
	margin-left: 20px;
	margin-block: -90px;
	margin-top: 135px;
	text-align: left;
	color: rgb(0, 0, 0);
	font-size: 25px;
	font-family: "Cinzel", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: italic;
	background-color: rgb(255, 255, 255);
}
/* Paris Subheading */
p {
	color: rgb(255, 255, 255);
	font-size: 40px;
	text-align: center;
	margin-block: 0px;
	margin-top: 0px;
	font-family: "Cinzel", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: italic;
	background-color: rgb(0, 0, 0);
}