/* styles.css */
.backgroundImage {
	background-image: url(../img/concealer.png);
	width: 435px;
	height: 700px;
	margin: 20px auto;
}
.backgroundImage:hover {
	background-image: url(../img/bunny.png); 
	width: 688px;
	height: 545px;
	size-adjust: 40px;
}
body {
	background-color: rgb(122, 10, 10);
	font-family: Arial, Helvetica, sans-serif;
}
.body {
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	color: rgb(255, 255, 255);
	font-size: 65px;
	text-align: center;
	margin-top: 20px;
	margin-block: 0px;
	font-family: "Cinzel", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: italic;
}
.text {
	width: 50%;
	margin: 96px auto;
	text-align: center;
	margin-block: 20px;
	font-family: "Cinzel", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: italic;
}
.text * {
	display: inline-block;
	width: 48%;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
div {
	width: 50%;
	margin: 96px auto;
	text-align: center;
	color: aliceblue;
	font-size: 40px;
	margin-block: 20px;
	font-family: "Cinzel", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: italic;
}
p {
	color: rgb(207, 207, 207);
	font-size: 40px;
	text-align: center;
	margin-block: 0px;
	margin-top: 0px;
	font-family: "Cinzel", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: italic;
}
h2 {
	color: rgb(0, 0, 0);
	font-size: 40px;
	text-align: center; 
	font-family: "Cinzel", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: italic;
}
h3 {
	color: aliceblue;
	font-size: 40px;
	text-align: center; 
}
h3 a:link, 
h3 a:visited {
	color: blueviolet;
	text-decoration: none;
}
h3 a:hover {
	color: aliceblue;
}
* {
	font-family: Arial;
}